body,html {
    height: 150%;
    background: #000;
    overflow-x: hidden;
}
body::-webkit-scrollbar,html::-webkit-scrollbar {display: none;}
.gallery::-webkit-scrollbar,html::-webkit-scrollbar {display: none;}
.main {
    height: 99%;
    margin: 0 auto;
    border: 3px solid #fff;
    width: 100%;
    position: fixed;

}
.gallery {
    width: 100%;
    height: 120px;
    border: 2px solid red;
    color: red;
    overflow-x: scroll;
    position: absolute;
    bottom: 10px;
}
.gallery img {
    display: table-cell;
    height: 100px;
    margin-right: 5px;
    border: 1px solid #fff;
    cursor:pointer;
    opacity: 0;
}